body {
    padding: 0;
    margin: 0;
}
#header {
    display: inline-flex;
    background-color: blue;
    width: 100vw;
}

#text {
    text-align: left;
    padding-left: 10px;
    color: white;
}

#clock {
    text-align: right;
    padding-left: 1650px;
    color: white;
    padding-top: 20px;
}

#pasek {
    display: inline-flex;
}

.klasa {
    background-color: blue;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 20vw;
}

.klasa:hover {
    background-color: rgb(0, 0, 190);
}

.uczen {
    background-color: blue;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 20vw;
}

.uczen:hover {
    background-color: rgb(0, 0, 190);
}

.nauczyciel {
    background-color: blue;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 20vw;
}

.nauczyciel:hover {
    background-color: rgb(0, 0, 190);
}

.wiadomosci {
    background-color: blue;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 20vw;
}

.wiadomosci:hover {
    background-color: rgb(0, 0, 190);
}

.rodzice {
    background-color: blue;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 20vw;
}

.rodzice:hover {
    background-color: rgb(0, 0, 190);
}